*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4C956C;
}

.image img{
    max-width: 400px;
    margin-top : 20px;
    border-radius: 9px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;
    transform: translateX(30px);
    animation: apparition 0.8s 1s ease-out forwards;
}

/*container*/
.container{
    width: 100%;
    max-width: 900px;
    height: auto;
    background: #FEFEE3;
    padding: 34px;
    border-radius: 9px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display : flex;
    flex-direction: column;
}

/*titre*/
.container h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.4s 0.8s ease-out forwards;
}

/*soulignage titre*/
.container h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #D68C45;
}


/*div qui regroupe la box image et le formulaire*/
.separer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*input box*/
form .input-box{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

/*design*/
.input-box input{
    background-color: #FEFEE3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #D68C45;
    border-top: 2px solid transparent;
}
/*fin input box*/
.separer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*boutton*/
.input-box.boutton input{
    color: black;
    letter-spacing: 1px;
    border: none;
    border-radius: 6px;
    background: #FFC9B9;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 2px solid #D68C45;
}

.input-box.boutton input:hover{
    background: #dea99a;
}
/*fin boutton*/

/*responsive*/
@media screen and (max-width: 735px) {
    form{
        margin: auto;
    }
    .image img{
        display: none;  
    }
}

/*faire l'apparition lors du chargement de la page*/
@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}