body {
  margin: 0;
}

header .logo {
  margin-top: 7px;
  width: 8%;
}

header h3 {
  float: right;
  margin-right: 55px;
  margin-top: 30px;

  color: rgba(0, 0, 0, 0.75);

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}

a:hover {
  text-decoration: none;
}

header .trait {
  float: right;
  width: 17%;
  margin-top: 60px;
  margin-right: -198px;
}

header,
footer {
  left: 0;
  width: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(206, 244, 223, 0.66) 0%,
      rgba(44, 110, 73, 0) 100%
    ),
    #bee6ce;
  mix-blend-mode: normal;
}

.corps {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.maDiv {
  position: absolute;
  height: 70.45%;
  left: 0;
  width: 60%;
}

.yo {
  right: 0;
  top: 0;
  width: 40%;
  right: 38px;
}