body {
    height: 97.4vh;
    background: linear-gradient(to bottom right, #BCFFDB, #2C6E49);
    background-repeat: no-repeat;
}

.header img {
    height: 15vh;
    width: 10vw;
}

.header {
    background-color: #FEFEE3;
    border-radius: 10px;
}