body {
  padding: 0;
  margin: 0;
}

header {
  display:grid;
  grid-template-columns: 1fr 5fr 2fr;
  position: static;
}

header .logo {
  height: 100px;
}

#blocConnexion {
  display:flex;
  flex-direction: column;
}

header h3 {
  margin:10px;
  margin-bottom: 1%;
  margin-top: 30px;
  float: right;

  color: black;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 36px;
  align-self: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #255b3d;
}

header,
footer {
  background: #9cc4a8;
}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FEFEE3;
}

.maDiv {
  height: 82vh;
  width: 60%;
}

.info{
  width: 40%;
  height: 100%;
  max-width: 500px;
  margin: 5%;
  background: #9cc4a8;
  padding: 34px;
  border-radius: 9px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display : flex;
  flex-direction: column;
  align-content: center;
}

footer {
  border: solid 5px #9cc4a8;
}

footer h5 {
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .container{
      width: 100%;
  }
  .logo, h3 {
    position: static;
  }
}
@media screen and (max-width: 980px) {
  .h3 {
    margin-right: 70%;
  }
}

@media screen and (max-width: 810px) {
  
  .container {
    flex-direction: column;
  }

  .maDiv {
    width: 100%;
  }

  .info { 
    width: 80%;
    margin-left: 2.5%;
  }
}